@model IEnumerable<Doan_ASP.NET_MVC.Models.Image_detail>


    <div class="col-lg-5 col-md-6">
        <!-- Product Details Left -->
        <div class="product-details-left">
            <div class="product-details-images slider-navigation-1">
                @foreach (var item in Model)
                {
                    <div class="lg-image">
                        <img src="~/@item.product_image_detail" alt="product image">
                    </div>
                }
                </div>
            <div class="product-details-thumbs slider-thumbs-1">
                @foreach (var item in Model)
                {
                    <div class="sm-image"><img src="~/@item.product_image_detail" alt="product image thumb"></div>
                }
                </div>
        </div>
        <!--// Product Details Left -->
    </div>
