
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Về Chúng Tôi</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- about wrapper start -->
<div class="about-us-wrapper pt-60 pb-40">
    <div class="container">
        <div class="row">
            <!-- About Text Start -->
            <div class="col-lg-6 order-last order-lg-first">
                <div class="about-text-wrap">
                    <h2><span>Luôn Cung Cấp</span>Dịch Vụ Tốt Nhất Cho Bạn</h2>
                    <p>Cùng với sự phát triển của xã hội và thị trường công nghệ, Công ty Cổ phần Bán lẻ Kỹ thuật số Ahiho đã, đang và sẽ nỗ lực không ngừng để trở thành đối tác uy tín đối với các nhà sản xuất Kỹ thuật số hàng đầu thế giới, đồng thời là điểm đến tin cậy của khách hàng Việt Nam.</p>
                    <p>Với mục tiêu mở rộng độ phủ cửa hàng trên toàn quốc, Công ty Cổ phần Bán lẻ Kỹ thuật số Ahiho hướng tới trở thành Hệ thống bán lẻ các sản phẩm Viễn thông Kỹ thuật số hàng đầu Việt Nam. Cùng với quy mô ngày càng lớn, Ahiho Shop sẽ cung cấp tới mọi tầng lớp khách hàng những trải nghiệm mua sắm tích cực, thông qua các sản phẩm Kỹ thuật số chính hãng chất lượng cao, giá cả cạnh tranh đi kèm dịch vụ chăm sóc khách hàng thân thiện, được đảm bảo bởi uy tín của doanh nghiệp.</p>
                    
                </div>
            </div>
            <!-- About Text End -->
            <!-- About Image Start -->
            <div class="col-lg-5 col-md-10">
                <div class="about-image-wrap">
                    <img class="img-full" src="~/Content/images/product/small-size/113.jpg" alt="About Us" />
                </div>
            </div>
            <!-- About Image End -->
        </div>
    </div>
</div>
<!-- about wrapper end -->
<!-- Begin Counterup Area -->
<div class="counterup-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6">
                <!-- Begin Limupa Counter Area -->
                <div class="limupa-counter white-smoke-bg">
                    <div class="container">
                        <div class="counter-img">
                            <img src="images/about-us/icon/1.png" alt="">
                        </div>
                        <div class="counter-info">
                            <div class="counter-number">
                                <h3 class="counter">3</h3>
                            </div>
                            <div class="counter-text">
                                <span>Năm</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Begin limupa Counter Area -->
                <div class="limupa-counter gray-bg">
                    <div class="counter-img">
                        <img src="images/about-us/icon/2.png" alt="">
                    </div>
                    <div class="counter-info">
                        <div class="counter-number">
                            <h3 class="counter">5</h3>
                        </div>
                        <div class="counter-text">
                            <span>Cửa hàng</span>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Begin limupa Counter Area -->
                <div class="limupa-counter white-smoke-bg">
                    <div class="counter-img">
                        <img src="images/about-us/icon/3.png" alt="">
                    </div>
                    <div class="counter-info">
                        <div class="counter-number">
                            <h3 class="counter">117</h3>
                        </div>
                        <div class="counter-text">
                            <span>Nhân sự</span>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Begin limupa Counter Area -->
                <div class="limupa-counter gray-bg">
                    <div class="counter-img">
                        <img src="images/about-us/icon/4.png" alt="">
                    </div>
                    <div class="counter-info">
                        <div class="counter-number">
                            <h3 class="counter">147</h3>
                        </div>
                        <div class="counter-text">
                            <span>Tỷ đồng doanh thu 2020</span>
                        </div>
                    </div>
                </div>
                <!-- limupa Counter Area End Here -->
            </div>
        </div>
    </div>
</div>
<!-- Counterup Area End Here -->
<!-- team area wrapper start -->
<div class="team-area pt-60 pt-sm-44">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="li-section-title capitalize mb-25">
                    <h2><span>Nhân sự chính</span></h2>
                </div>
            </div>
        </div> <!-- section title end -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                    <div class="team-thumb">
                        <img src="~/Content/images/about-us/ta.png" alt="Our Team Member">
                    </div>
                    <div class="team-content text-center">
                        <h3>Nguyễn Thương Anh</h3>
                        <p>Chủ Tịch Hội Đồng Quản Trị</p>
                        <a href="#">nguyenthuonganh@ahiho.com</a>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                    <div class="team-thumb">
                        <img with="512px" height="358" src="~/Content/images/about-us/vh.jpeg" alt="Our Team Member">
                    </div>
                    <div class="team-content text-center">
                        <h3>Lê Văn Hiếu</h3>
                        <p>Trưởng Phòng Thiết Kế Website</p>
                        <a href="#">levanhieu@ahiho.com</a>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-30 mb-sm-60">
                    <div class="team-thumb">
                        <img with="512px" height="358" src="~/Content/images/about-us/tm.jpg" alt="Our Team Member">
                    </div>
                    <div class="team-content text-center">
                        <h3>Phạm Thế Mạnh</h3>
                        <p>Trưởng Phòng Nhân Sự</p>
                        <a href="#">phamthemanh@ahiho.com</a>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member mb-30 mb-sm-60 mb-xs-60">
                    <div class="team-thumb">
                        <img with="512px" height="358" src="~/Content/images/about-us/nh1.jpeg" alt="Our Team Member">
                    </div>
                    <div class="team-content text-center">
                        <h3>Đỗ Duy Nhật Hoàng</h3>
                        <p>Trưởng Phòng Marketing</p>
                        <a href="#">doduynhathoang@ahiho.com</a>
                        <div class="team-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
        </div>
    </div>
</div>

